* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:rgb(255, 255, 255);
}

header {
  background:rgb(255, 139, 139);
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

header h1 {
  font-size: 2rem;
  color: #333333;
}

.conteudo {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  gap: 40px;
}

.texto {
  max-width: 400px;
  margin-right: -250px;
  align-items: left;
  display: flex;
  flex-direction: column;
}

.texto h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333333;
  align-items: center;
}

.texto p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #555555;
  align-items: center;
}

.texto button {
  padding: 10px 20px;
  background:rgb(255, 108, 191);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.texto button:hover {
  background:rgb(216, 68, 137);
  shadow: 6 4px 12px rgba(0,0,0,0.1);
}

.imagem img {
  width: 300px;
  max-width: 100%;
  border-radius: 15px;
}

footer {
  background:rgb(125, 155, 255);
  text-align: center;
  padding: 15px;
  box-shadow: 0 -4px 12px rgba(0,0,0,0.1);
  color: #333333;
}

@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    padding: 30px 20px;
  }

  .texto {
    text-align: center;
  }

  .imagem img {
    width: 80%;
  }
}
