body {
  display: flex;
  justify-content: space-around; /* distribui os cards igualmente */
  align-items: center; /* centraliza verticalmente */
  min-height: 100vh; /* altura total da tela */
  font-family: Arial, sans-serif;
  background-color:rgb(153, 153, 153);
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  padding: 150px 20px 20px; /* espaço maior em cima pro avatar */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Estilo individual de cada card */
.card1 {
  background: #fdf797;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: auto;
}

.card2 {
  background-color: #97fdfb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.card2 img {
  width: 550px;  /* aumentei de 100px para 130px */
  height: 100px;
}

.card3 {
  background:rgb(154, 251, 151);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-right: auto;
}

.card1:hover {
  transform: translateY(-9px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card2:hover {
  transform: translateY(-9px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card3:hover {
  transform: translateY(-9px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card .name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card .profession {
  font-size: 0.9rem;
  color: #555555;
  margin-bottom: 10px;
}

.card .description {
  font-size: 0.85rem;
  color: #333333;
}
